.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  background: #fff;
  border-radius: 14px;
  padding: 40px 20px 20px 20px;
  overflow-y: auto;
  animation: modalFadeIn 0.2s ease;
}


@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 25px;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}

.modal-image {
  width: auto;
  max-height: 70vh;
  background: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  margin-top : 30px;
  margin-bottom: 16px;
  margin :0 auto;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper{
    align-items: center;
}

.swiper-button-prev, .swiper-button-next {
    color: #735c4e;
}

.swiper-pagination-bullet-active {
    background-color: #735c4e;
}

.modal-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #444;
}

.photo-placeholder {
  display: flex;
  height: 180px;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #aaa;
  background: #f2f2f2;
  font-size: 14px;
}

.photo-modal-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    padding : 10px;
    border-top: 1px solid #d1d5db;
}

.photo-modal-content{
    padding-left: 10px;
}

.photo-modal-meta{
    display: flex;
    gap: 2rem;
    font-size: 15px;
    color: #999;
    padding: 10px;
}

.modal-right-buttons {
  display: flex;
  position: absolute;
  right : 20px;
  padding-bottom: 20px;
  gap: 5px;
}