.detail {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

/* 제목 */
.detail-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* 메타 정보 */
.detail-meta {
  display: flex;
  gap: 2rem;
  font-size: 0.875rem;
  color: #666;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;
}

/* 본문 */
.detail-content {
  font-size: 1rem;
  line-height: 1.6;
  min-height: 10rem;
  margin-bottom: 4rem;
  white-space: pre-wrap;
}

/* 하단 버튼 영역 */
.detail-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.left-buttons {
  display: flex;
  gap: 0.5rem;
}

.right-buttons {
  display: flex;
  gap: 0.5rem;
}

/* 버튼 공통 */
.btn {
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid #ececec;
  background-color: #ececec;
  cursor: pointer;
}

.btn:hover {
  background-color: #f5f5f5;
}

/* 삭제 버튼 */
.btn.delete {
  color: #d32f2f;
  border-color: #d32f2f;
}

@media (max-width: 768px) {
  .detail-actions {
    border-top: 1px solid #ddd;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }

  .left-buttons {
    margin-top: 1rem;
  }

}