/* 전체 컨테이너 */
.board-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem; 
}

/* 상단 헤더 */
.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title-group {
  display: flex;
  padding-left: 1rem;
  align-items: center;
  gap: 0.5rem;
}

.board-title {
  font-size: 1.7rem;
  font-weight: 600;
}

/* 검색창 */
.search-form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-right: 1rem;
}

.search-input {
  width: 14rem;
  padding: 0.5rem 2.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.search-input-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  pointer-events: none;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: #735c4e;
  color: white;
  font-weight: 500;
  border-radius: 0.375rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #584133;
}

@media (max-width: 768px) {
  .board-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

  .search-form  {
    width: 100%;
    margin-top: 1rem;
    align-items: center;
  }
}

/* 테이블 */
.board-table-wrapper {
  overflow-x: auto;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.board-table th,
.board-table td {
  padding: 0.75rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
  font-size: 0.9rem;
}

.board-table th {
  background-color: #f9fafb;
  font-weight: 600;
  text-align: center !important;
  text-transform: uppercase;
  font-size: 1rem;
}

.post-title{
  text-align: left !important;
  min-width: 300px;
}


.post-link{
  cursor: pointer;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  justify-content: center;
  gap: 0.25rem;
}

.pagination button {
  padding: 0.4rem 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  background-color: white;
  cursor: pointer;
}

.pagination button.active {
  background-color: #584133;
  color: #ffffff;
  font-weight: 600;
}



/* 모바일에선 번호 숨기기 */
@media (max-width: 640px) {
  .board-table th:nth-child(1),
  .board-table td:nth-child(1){
    display: none; 
  }
}
