.header {
  width: 100%;
  top: 0;           
  z-index: 1000;

  background-color: #735c4e;
  color: #ffffff;
  padding: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.header-group{
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header-group img {
  width: 200px;
  height: auto;
}

/* 모바일에서만 보이는 버튼*/
.mobile-menu-button,
.header-login{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    display: flex;
  }

  .header-login {
    display: flex;
    align-items: center;
  }
}

.login-btn {
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
}