.sidebar-container {
  position: relative;
  background-color: #ffffff;
  padding: 1rem;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  .sidebar-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}

.sidebar {
  width: 13rem;
  height: 100vh;
}

.sidebar-nav {
  border: 1px solid #c3c9d4;
  border-radius: 0.5rem;
  margin-top: 2.5rem; 
  padding: 1rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.4rem 0;
  border-radius: 0.5rem;

  color: #4b5563;
  font-weight: 600;
  text-decoration: none;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-item:hover {
  background-color: #f3f4f6; 
  color: #1f2937; 
}

.sidebar-item-active {
  background-color: #f3f4f6;
  color: #1f2937;
}

.sidebar-text {
  margin: 0.4rem 0.8rem;

}

/* 글쓰기 버튼 */

.write-button {
  display: flex;
  width: 13rem;
  height: 4rem;
  margin-top: 0.8rem;
  padding: 0.5rem 1.8rem 0.5rem 1rem;
  align-items: center;
  gap: 0.7rem;
  background-color: #2563eb;
  color: white;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
   justify-content: center;
}

.write-button:hover {
  background-color: #1d4ed8;
}