/* 어두운 배경 */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 40;
}

.sidebar-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/* 사이드바 */
.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  max-width: 24rem;
  height: 100vh;
  background: #fff;
  z-index: 50;
  padding: 4rem 1rem;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-mobile.open {
  transform: translateX(0);
}

/* 닫기 버튼 */
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.write-button {
  display: flex;
  width: 100%;
  height: 4rem;
  margin-top: 0.8rem;
  padding: 0.5rem 1.8rem 0.5rem 1rem;
  align-items: center;
  gap: 0.7rem;
  background-color: #735c4e;
  color: white;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
}

.write-button:hover {
  background-color: #584133;
}

@media (max-width: 768px) {

  .sidebar-header {
  border-top: 2px solid #babcc1;
  border-bottom: 2px solid #e5e7eb;
  padding: 1rem;
}
}
