@import "tailwindcss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body {
  display: flex;
  flex: 1;

  max-width: 75rem;
  margin: 0 auto;
  width: 100%;
}

.app-list {
  flex: 1;
  padding: 1rem 1rem 1rem 0;


  flex: 1;
  margin: 0 auto;
}
