@import "tailwindcss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{
  background-color: #faf6f3;
}

.app-body {
  display: flex;
  flex: 1;
  max-width: 75rem;
  min-height: 55rem;
  margin: 0 auto;
  width: 100%;
}

.app-list {
  flex: 1;
  padding: 2.5rem 1rem;


  flex: 1;
  margin: 0 auto;
}

/* modal 기본설정 */
.swal2-popup {
  width: 400px !important;
  max-width: 90vw !important;
}

.swal2-html-container{
  padding : 10px 0;
}

.swal2-textarea{
  margin: 0 0 10px;
  width: 300px;
  font-size: 17px;
}

.swal2-input{
  margin: 0 auto;
  width: 300px;
}

.swal2-title {
  padding: 40px 0 20px;
  font-size: 20px !important;
  font-weight: 700;
}

.swal2-confirm,
.swal2-cancel {
  width: 150px;
  height: 50px;
  font-size: 20px !important;
  padding: 10px 26px !important;
  border-radius: 8px !important;
}

.swal2-confirm {
  background-color: #735c4e;
}

.swal2-confirm:hover {
  background-color: #584133;
}

.swal-delete-btn {
  background-color: #eb0e0e !important;
}

.swal-delete-btn:hover {
  background-color: #c20505 !important;
}

.swal2-cancel {
  background-color: #bdbdbd !important;
  color: #000 !important;
}

.swal2-cancel:hover {
  background-color: #a8a8a8 !important;
}

@media (max-width: 768px) {
  .app-list {
    padding: 1rem;
  }
}
