@import "tailwindcss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{
  background-color: #faf6f3;
}

.app-body {
  display: flex;
  flex: 1;

  max-width: 75rem;
  margin: 0 auto;
  width: 100%;
}

.app-list {
  flex: 1;
  padding: 2.5rem 1rem;


  flex: 1;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .app-list {
    padding: 1rem;
  }
}
